.bash_history
.bash_logout
.bashrc
.bundle/
.byobu/
.cache/
.cargo/
.composer/
.config/
.cpanm/
.deno/
.gem/
.gitconfig
.lesshst
.npm/
.percona-toolkit.uuid
.perl-cpm/
.profile
.rustup/
.ssh/
.viminfo
.wget-hsts
.idea/
go/
kataribe.toml
local/
isuumo/.github/
